<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Rocketjob by rocketjob</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">rocketjob</h1>
      <h2 class="project-tagline">High volume, priority based, background job processing solution for Ruby.</h2>
      <a href="index.html" class="btn">Introduction</a>
      <a href="why.html" class="btn">Why?</a>
      <a href="features.html" class="btn">Features</a>
      <a href="mission_control.html" class="btn">Mission Control</a>
      <a href="api.html" class="btn">API</a>
      <a href="dirmon.html" class="btn">Directory Monitor</a>
      <a href="configuration.html" class="btn">Configuration</a>
      <a href="pro.html" class="btn">rocketjob-pro</a>
      <a href="architecture.html" class="btn">Architecture</a>
      <a href="https://github.com/rocketjob/rocketjob" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
        {{content}}
    </section>

            <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-52339082-4");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>

