<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Rocket Job is a distributed, priority-based, background job, batch processing system for Ruby and Rails.">
  <title>Rocket Job, a distributed, priority based, background job, batch processing system for Ruby and Rails</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/table.css" media="print"/>
</head>
<body>
<section class="page-header">
  <table style="width:100%">
    <tr>
      <td><img src="images/rocket/rocket-icon-256x256.png" alt="Rocket Job"></td>
      <td>
        <h1 class="project-name">Rocket Job</h1>
        <h2 class="project-tagline">Rocket Job, a distributed, priority based, background job, batch processing system for Ruby and Rails</h2>
        <a href="index.html" class="btn">Overview</a>
        <a href="compare.html" class="btn">Compare</a>
        <a href="mission_control.html" class="btn">Mission Control</a>
        <a href="installation.html" class="btn">Installation</a>
        <a href="guide.html" class="btn">Guide</a>
        <a href="batch.html" class="btn">Batch Processing</a>
        <a href="dirmon.html" class="btn">Directory Monitor</a>
        <a href="support.html" class="btn">Support</a>
        <a href="https://github.com/rocketjob/rocketjob" class="btn">View on GitHub</a>
      </td>
    </tr>
  </table>
</section>

<section class="main-content">
  {{content}}
</section>

<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-52339082-4");
    pageTracker._trackPageview();
  } catch (err) {
  }
</script>

</body>
</html>

